static/images
__pycache__
databases
__pycache__/auth_by_email.cpython-38.pyc
__pycache__/AuthByEmail.cpython-38.pyc
databases/fb87181b96a99be45f5a23f4277867ce_py4web_session.table

static/js/axios.js
static/js/axios.min.js
static/js/axios.map
static.js/axios.min.map
static.js/sugar.js
static.js/sugar.min.js
static.js/vue.js