#vue-target{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.about h1{
    text-align: left;
}

@media (min-width: 800px){
    .columns {
        width: 95%;
        display: grid;
        grid-template-columns: 2fr 3fr 2fr;
        grid-gap: 15px;
        margin-left: auto;
        margin-right: auto;
        border-bottom: 2px solid #DFDFDF;
    }

    #randoms {
        border-left: 2px solid #DFDFDF;
        border-right: 2px solid #DFDFDF;
    }

    .highlight .pokemon_entry{
        margin-top: 70px;
    }
}

@media (max-width: 600px){
    #randoms{
        margin-top: 15px;
    }
    .about {
        margin-top: 15px;
    }
    .about h1{
        text-align: center;
    }
}

h1 {
    font-family: freight-sans-pro;
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 25px;
}



a .pokemon_entry {
    color: black;
}

#randoms{
    width: 100%;
    height: 100%;
}

.highlight .pokemon_entry{
    width: 300px;
    transform-style: preserve-3d;
}

.highlight .pokemon_entry .pokeImgContainer{
    height: 270px;
}

.highlight .pokemon_entry .typeImg {
    width: 100px;
}

.highlight .pokemon_entry .cardTitle{
    height: 24px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    line-height: 1em;
}

.highlight .pokemon_entry .pokeName{
    font-size: 20px;
}

.highlight .pokemon_entry .pokeNumber{
    font-size: 18px;
}

.highlight .pokemon_entry .highlightBubbles{
    position: fixed;
    transform: translateZ(-10px)
}

.highlight .pokemon_entry .cardTitle{
    display: grid;
    height: 16px;
    grid-template-columns: 3fr 1fr;
}

.highlight .hlCircTL{
    position: relative;
    width: 300px;
    height: 300px;
    top: -60px;
    left: -60px;
}

.highlight .hlCircLR{
    position: relative;
    width: 300px;
    height: 300px;
    top: -150px;
    left: 50px;
}

.about{
    width: 100%;
    height: 100%;
    white-space: normal;
    padding-left: 30px;
}

@media (max-width: 600px){
    .about{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0px;
    }
}

.about p{
    text-align: left;
    font-family: freight-sans-pro;
    font-size: 16px;
    line-height: 1.5em;
    color: #535353;
}

.buttonlink{
    padding: 8px;
    text-decoration: none;
    font-family: freight-sans-pro;
    font-size: 16px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    background-color: #343434;
    border-radius: 25px;
    height: 44px;
}

.buttonlink:hover{
    cursor: pointer;
    transform: scale(1.05);
}