.category {
    text-align: center;
}

.pokemon_list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
}

.pokemon_entry {
    background: white;
    border: solid;
    border-width: 5px;
    border-color:black;
    border-radius: 10px;
    text-align: center;
    margin: 10px;
    align-items: center;
    max-width: 200px;
    box-shadow: -5px 5px 5px rgba(52, 49, 49, 0.75);
}

/******************************************
STAR LOGIC
*******************************************/

.pokemon_entry .starContainer{
    position: relative;
    text-align: center;
    font-size: 0;
    width: min-content;
    margin-left: auto;
    margin-right: auto;
    font-family: FontAwesome;
}

.pokemon_entry .filledStars{
    color: lightgreen;
    overflow: hidden;
    white-space: nowrap;
}

.pokemon_entry .filledStars i{
    font-size: 28px;
}

.pokemon_entry .inputStars{
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    white-space: nowrap;
    direction: rtl;
}

.pokemon_entry .inputStars input{
    display: none;
}

.pokemon_entry .inputStars label::before{
    content: "\f006";
    font-size: 28px;
}

.pokemon_entry .inputStars label:hover::before{
    content: "\f005";
    color: gold;
}

.pokemon_entry .inputStars input:checked ~ label::before{
    content: "\f005";
    color: gold;
}

/****************

*****************/

.pokemon_entry .pokeName{
    margin-top: 5px;
    font-size: 100%;
    font-weight: bold;
    white-space: nowrap;
}

.pokemon_entry .pokeNumber{
    margin-top: -12px;
    font-size: 85%;
}

.pokemon_entry img{
    display: block;
}

.pokemon_entry .pokeImgContainer{
    margin-top: -15px;
}

.pokemon_entry .pokeImg{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}


.pokemon_entry .typesContainer{
    display: flex;
    justify-content: center;
    margin-top: -20px;
}

.pokemon_entry .typeImg{
    margin: 3px;
    width: 80px;
}
