.puzzle_display {
    display: grid;
    width: 600px;
    margin: auto;
    text-align: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
}

.puzzle_display span {
    font-family: freight-sans-pro;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 60px;
    color: #343434;
}

@media (max-width: 600px){
    .puzzle_display span {
        font-size: 20px;
    }
}

h1 {
    text-align: center;
    font-family: freight-sans-pro;
    font-size: 50px;
    font-weight: 600;
}

h3 {
    text-align: center;
    font-family: freight-sans-pro;
    font-size: 20px;
    color: #7E7E7E;
    font-weight:normal;
    text-decoration: underline;
    cursor: pointer;
    margin: 10px;
}

.fa-question-circle{
    color: darkblue;
}

.fa-question-circle:hover{
    color: blue;
}

@media (max-width:600px) {
    h1 {
        font-size: 40px;
    }
    .puzzle_display{
        width: 100%;
    }

    .pokemon_entry {
        width: 160px;
    }

    .pokemon_entry .typeImg {
      width: 60px;
    }

    .data-header {
        font-size: 10px;
    }
}

.data-table {
    width: 600px;
    margin: auto;
    font-size: 18px;
}

.data-table i{
    font-size: 24px;
}

.data-header {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr;
    text-align: center;

}

.data-row {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
}

.guessBox {
    width: 600px;
    margin: auto;
    margin-top: 15px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-bottom: 15px;
}

.autocomplete {
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
}

.autocomplete i{
    position: absolute;
    top: 8px;
    right: 10px;
    font-size: 24px;
    color: #7E7E7E;
}

.autocomplete_results {
    padding: 0;
    margin: 0;
    margin-top: 2px;
    
    overflow: auto;
}

.autocomplete_result {
    list-style: none;
    text-align: left;
    padding: 4px 2px;
    cursor: pointer;
    border: 1px solid #dfdfdf;
    margin-bottom: 2px;
}

.autocomplete_result:hover {
    background-color: #749F91;
    color: white;
}

.fa-check-circle {
    color: #63bb5b;
}

.fa-times-circle {
    color: #E5603d;
}

.fa-arrow-circle-right{
    color: #329ae3;
}

.fa-arrow-circle-up{
    color: #329ae3;
}

.fa-arrow-circle-down{
    color: #FF9C54;
}

.fa-arrow-circle-left{
    color: #FF9C54;
}

@media (max-width:600px) {


    .data-table{
        width: 90%;
        font-size: 14px;
    }

    .guessBox{
        width: 90%;
    }

    .autocomplete{
        width: 85%;
    }
}

/* Tinted background covering whole page*/
.modalBG {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(37, 34, 34, 0.75);
    width: 100%;
    height: 100%;
    z-index: 1;
    align-items: center;
    display: flex;
}

/* Modal box itself. */
.modalContent {

    position: relative;
    width: 500px;
    background-color: white;
    margin: auto;
    border: 8px solid #343434;
    border-radius: 10px;
    text-align: left;
    align-items: center;
    font-family: freight-sans-pro;
    color: #343434;
}

.modalContent h1{
    text-align: left;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.modalContent p{
    margin-top: 5px;
    margin-bottom: 5px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    line-height: 1.5em;
    color: #535353;
}

.modalContent ul{
    list-style: square;
    width: 80%;
    margin: auto;
    line-height: 1.2em;
    margin-top: -8px;
}

.modalContent li{
    margin: 4px;
    font-size: 16px;
    
    color: #535353;
}

@media (max-width: 600px){
    .modalContent{
        width: 350px;
    }

    .modalContent p{
        font-size: 14px;
        line-height: 1.2em;
    }

    .modalContent li{
        font-size: 14px;
    }
}

/* X icon in top right. */
.modalContent .fa-times {
    font-size: 40px;
    position: absolute;
    top: 0px;
    right: 5px;
}

.modalContent .fa-times:hover {
    cursor: pointer;
    color: #E5603d;
}

.puzzle_display {
    margin-top: 20px;
}

.puzzle_display .pokemon_entry:hover{
    cursor: default;
    transform: none;
}   

.puzzle_display .pokemon_entry{
    margin-top: 20px;
}

.data-table {
    font-family: freight-sans-pro;
    margin-top: 35px;
}

.guessClick:hover{
    text-decoration: underline;
}

#submit{
    color: white;
    background-color: #343434;
    border-radius: 25px;
    height: 44px;
}

.autocomplete input {
    border-radius: 25px !important;
    background-color: #f0f0f0 !important;
    border: 0px solid black !important;
    font-family: freight-sans-pro !important;
    margin-bottom: 0px;
}

.guessname:hover{
    text-decoration: underline;
}

/* Star graph at the bottom. */
.modalContent .graphContainer {
    height: 120px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom:5px;

    background-color: white;

    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;

    display:grid;
    grid-template-rows: 7fr 1fr;

    font-size: 12px;
    text-align: center;
}

.modalContent .userStats{
    display:grid;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 1fr 1fr;
}

/* bar part of graph */ 
.modalContent .ratingGraph {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 8px;

    align-items: flex-end;
    border-bottom: solid 2px black;
}

.modalContent .ratingGraph .bar{
    position: relative;

    background-color: #749F91;
    border-top: solid 1px black;
    border-left: solid 1px black;
    border-right: solid 1px black;

    line-height: 1.25em;
}

.modalContent .ratingGraph .bar div{
    margin-top: -16px;
}

/* label part of graph */
.modalContent .ratings {
    display: flex;
    width: min-content;
    margin-left: auto;
    margin-right: auto;
}

.modalContent label{
    cursor: pointer;
}
.modalContent .ratingLabels{
    
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 8px;
    line-height: 2em
}
