.puzzle_display {
    display: grid;
    width: 600px;
    margin: auto;
    text-align: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
}

h1 {
    text-align: center;
}

.fa-question-circle{
    color: darkblue;
}

.fa-question-circle:hover{
    color: blue;
}

@media (max-width:600px) {
    h1 {
        font-size: 40px;
    }
    .puzzle_display{
        width: 100%;
    }

    .pokemon_entry {
        width: 160px;
    }

    .pokemon_entry .typeImg {
      width: 60px;
    }

    .data-header {
        font-size: 10px;
    }
}

.data-table {
    width: 500px;
    margin: auto;
    font-size: 18px;
}

.data-table i{
    font-size: 24px;
}

.data-header {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr;
    text-align: center;

}

.data-row {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
    margin-top: 5px;
}

.guessBox {
    width: 420px;
    margin: auto;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.autocomplete {
    position: relative;
    width: 300px;
}

.autocomplete input{
    margin-bottom: 0px;
}

.autocomplete_results {
    padding: 0;
    margin: 0;
    border: 1px solid #eeeeee;
    overflow: auto;
}

.autocomplete_result {
    list-style: none;
    text-align: left;
    padding: 4px 2px;
    cursor: pointer;
    margin-bottom: 2px;
}

.autocomplete_result:hover {
    background-color: #4AAE9B;
    color: white;
}

.fa-check-circle {
    color: green;
}

.fa-times-circle {
    color: red;
}

.fa-arrow-circle-right{
    color: blue;
}

.fa-arrow-circle-up{
    color: blue;
}

.fa-arrow-circle-down{
    color: rgb(111, 111, 12);
}

.fa-arrow-circle-left{
    color: rgb(111, 111, 12);
}

@media (max-width:600px) {
    .data-table{
        width: 90%;
        font-size: 14px;
    }

    .guessBox{
        width: 90%;
    }

    .autocomplete{
        width: 85%;
    }
}

/* Tinted background covering whole page*/
.modalBG {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(37, 34, 34, 0.75);
    width: 100%;
    height: 100%;
    z-index: 1;
    align-items: center;
    display: flex;
}

/* Modal box itself. */
.modalContent {
    position: relative;
    width: 500px;
    background-color: white;
    margin: auto;
    border: solid;
    border-width: 8px;
    border-color:black;
    border-radius: 10px;
    text-align: center;
    align-items: center;
}

.modalContent p{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.modalContent ul{
    list-style: square;
    width: 80%;
    margin: auto;
    line-height: 1.3em;
}

.modalContent li{
    margin: 6px;
}

/* X icon in top right. */
.modalContent .fa-times {
    font-size: 40px;
    position: absolute;
    top: 0px;
    right: 5px;
}

.modalContent .fa-times:hover {
    cursor: pointer;
    color: red;
}

.puzzle_display .pokemon_entry:hover{
    cursor: default;
    transform: none;
}   