[[extend "layout.html"]]

<link rel="stylesheet" href="css/login.css">

<section>
    <h1>Want to save your ratings?</h1>
    <h2>Register with your Email!</h2>

    [[=form]]

    <div id="policy">
        <h1>Privacy Policy</h1>
        <p>
            No personal information is required to access this website or view any regular pages.
        </p>
        <p>
            A valid email is required to post ratings. It is only used for account validation, and is only visible to the site administrator.
        </p>
        <p>
            All user data associated with an email can be deleted upon request.
        </p>
    </div>

</section>