[[extend 'layout.html']]

<link rel="stylesheet" href="css/pokemonEntries.css">
<link rel="stylesheet" href="css/data.css">


<div id="vue-target">
    <Transition name="notify">
        <div v-if="showNotif" class="notifs">{{ratingText}}</div>
    </Transition>

    <div class="tabs">
        <div :class="{ active: displayType == 'Rate' }" @click="setDisplayType('Rate')">Ratings</div>
        <div :class="{ active: displayType == 'Fave' }" @click="setDisplayType('Fave')">Favorites</div>
        <div v-if="userData" :class="{ active: displayType == 'User' }" @click="setDisplayType('User')">User</div>
        <div v-else class="no_data" >No User Data</div>
    </div>

    <div v-if="displayType == 'User'">
        <h1>Favorites</h1>
        <div class="pokemon_list">
            <h2 v-if="userFavorites.length == 0">No favorites!!!</h2>
            <a v-for="p in userFavorites" :href="dexPath(p)" data-interception="off">
                <div class="pokemon_entry highlight">
                    <i v-if="p.userFavorite"class="fa fa-heart"></i>
                    <div class="cardTitle">
                        <div class="pokeName">{{p.fullName}}</div>
                        <div class="pokeNumber">{{ pokemonNumber(p) }}</div>
                    </div>
                    
                    <div class="pokeImgContainer">
                        <img loading="lazy" :src="pokemonImagePath(p)" alt="images/PokemonArt/Generation 1/Bulbasaur.png" class="pokeImg">
                    </div>

                    <div class="typesContainer">
                        <div class="typeContainer"><img :src="typeImagePath(p, 0)"  class="typeImg"></div>
                        <div v-if="p.types.length == 2" class="typeContainer"><img :src="typeImagePath(p, 1)"  class="typeImg"></div>
                    </div>
                    
                    <div class="ratingContainer">
                        <div class="ratingText">
                            <div>Rating</div>
                            <div>{{ p.globalAverage.toFixed(2) }}</div>
                        </div>
                        <div class="starContainer">
                            <div class="filledStars" :style="widthPerc(p)">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="inputStars">
                                <input type="radio" :id="starIDRate(p, 5)" value="5" :name="starID(p)" :checked="check(p, 5)"><label @click="ratePok(p, 5)" class="fa fa-star-o" :for="starIDRate(p, 5)"></label>
                                <input type="radio" :id="starIDRate(p, 4)" value="4" :name="starID(p)" :checked="check(p, 4)"><label @click="ratePok(p, 4)" class="fa fa-star-o" :for="starIDRate(p, 4)"></label>
                                <input type="radio" :id="starIDRate(p, 3)" value="3" :name="starID(p)" :checked="check(p, 3)"><label @click="ratePok(p, 3)" class="fa fa-star-o" :for="starIDRate(p, 3)"></label>
                                <input type="radio" :id="starIDRate(p, 2)" value="2" :name="starID(p)" :checked="check(p, 2)"><label @click="ratePok(p, 2)" class="fa fa-star-o" :for="starIDRate(p, 2)"></label>
                                <input type="radio" :id="starIDRate(p, 1)" value="1" :name="starID(p)" :checked="check(p, 1)"><label @click="ratePok(p, 1)" class="fa fa-star-o" :for="starIDRate(p, 1)"></label>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <h1>Generations</h1>
        <div class="pokemon_list">
            <div v-for="n in 9" class="databox">
                <i v-if="getGen(n).statuses[2] == 1" class="fa fa-star"></i>
                <i v-if="getGen(n).statuses[2] == -1" class="fa fa-thumbs-down"></i>
                <h3>{{getGen(n).genName}}</h3>
                <div>Average rating:<br>{{abbrevNum(getGen(n).userAve)}}</div>
            </div>
        </div>

        <h1>Types</h1>
        <div class="pokemon_list">
            <div v-for="t in types" class="databox">
                <i v-if="t.statuses[2] == 1" class="fa fa-star"></i>
                <i v-if="t.statuses[2] == -1" class="fa fa-thumbs-down"></i>
                <img :src="typeImagePathB(t.typeName)"  class="typeImg">
                <div>Average rating:<br>{{abbrevNum(t.userAve)}}</div>
            </div>
        </div>
    </div>
    <div v-else>
        <h1>Top 5</h1>
        <div class="pokemon_list">
            <a v-if="displayType == 'Rate'" v-for="p in topFiveRate" :href="dexPath(p)" data-interception="off">
                <div class="pokemon_entry" >
                    <i v-if="p.userFavorite"class="fa fa-heart"></i>
                    <div class="cardTitle">
                        <div class="pokeName">{{p.fullName}}</div>
                        <div class="pokeNumber">{{ pokemonNumber(p) }}</div>
                    </div>
                    
                    <div class="pokeImgContainer">
                        <img loading="lazy" :src="pokemonImagePath(p)" alt="images/PokemonArt/Generation 1/Bulbasaur.png" class="pokeImg">
                    </div>

                    <div class="typesContainer">
                        <div class="typeContainer"><img :src="typeImagePath(p, 0)"  class="typeImg"></div>
                        <div v-if="p.types.length == 2" class="typeContainer"><img :src="typeImagePath(p, 1)"  class="typeImg"></div>
                    </div>
                    
                    <div class="ratingContainer">
                        <div class="ratingText">
                            <div>Rating</div>
                            <div>{{ p.globalAverage.toFixed(2) }}</div>
                        </div>
                        <div class="starContainer">
                            <div class="filledStars" :style="widthPerc(p)">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="inputStars">
                                <input type="radio" :id="starIDRate(p, 5)" value="5" :name="starID(p)" :checked="check(p, 5)"><label @click="ratePok(p, 5)" class="fa fa-star-o" :for="starIDRate(p, 5)"></label>
                                <input type="radio" :id="starIDRate(p, 4)" value="4" :name="starID(p)" :checked="check(p, 4)"><label @click="ratePok(p, 4)" class="fa fa-star-o" :for="starIDRate(p, 4)"></label>
                                <input type="radio" :id="starIDRate(p, 3)" value="3" :name="starID(p)" :checked="check(p, 3)"><label @click="ratePok(p, 3)" class="fa fa-star-o" :for="starIDRate(p, 3)"></label>
                                <input type="radio" :id="starIDRate(p, 2)" value="2" :name="starID(p)" :checked="check(p, 2)"><label @click="ratePok(p, 2)" class="fa fa-star-o" :for="starIDRate(p, 2)"></label>
                                <input type="radio" :id="starIDRate(p, 1)" value="1" :name="starID(p)" :checked="check(p, 1)"><label @click="ratePok(p, 1)" class="fa fa-star-o" :for="starIDRate(p, 1)"></label>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a v-if="displayType == 'Fave'" v-for="p in topFiveFave" :href="dexPath(p)" data-interception="off">
                <div class="pokemon_entry" >
                    <i v-if="p.userFavorite"class="fa fa-heart"></i>
                    <div class="cardTitle">
                        <div class="pokeName">{{p.fullName}}</div>
                        <div class="pokeNumber">{{ pokemonNumber(p) }}</div>
                    </div>
                    
                    <div class="pokeImgContainer">
                        <img loading="lazy" :src="pokemonImagePath(p)" alt="images/PokemonArt/Generation 1/Bulbasaur.png" class="pokeImg">
                    </div>

                    <div class="typesContainer">
                        <div class="typeContainer"><img :src="typeImagePath(p, 0)"  class="typeImg"></div>
                        <div v-if="p.types.length == 2" class="typeContainer"><img :src="typeImagePath(p, 1)"  class="typeImg"></div>
                    </div>
                    
                    <div class="favContainer"> 
                        <i class="fa fa-heart"><span>{{abbrevNum(p.ratings[5])}}</span></i>
                    </div>

                </div>
            </a>
        </div>
        <h1>Bottom 5</h1>
        <div class="pokemon_list">
            <a v-if="displayType == 'Rate'" v-for="p in bottomFiveRate" :href="dexPath(p)" data-interception="off">
                <div class="pokemon_entry" >
                    <i v-if="p.userFavorite"class="fa fa-heart"></i>
                    <div class="cardTitle">
                        <div class="pokeName">{{p.fullName}}</div>
                        <div class="pokeNumber">{{ pokemonNumber(p) }}</div>
                    </div>
                    
                    <div class="pokeImgContainer">
                        <img loading="lazy" :src="pokemonImagePath(p)" alt="images/PokemonArt/Generation 1/Bulbasaur.png" class="pokeImg">
                    </div>

                    <div class="typesContainer">
                        <div class="typeContainer"><img :src="typeImagePath(p, 0)"  class="typeImg"></div>
                        <div v-if="p.types.length == 2" class="typeContainer"><img :src="typeImagePath(p, 1)"  class="typeImg"></div>
                    </div>
                    
                    <div class="ratingContainer">
                        <div class="ratingText">
                            <div>Rating</div>
                            <div>{{ p.globalAverage.toFixed(2) }}</div>
                        </div>
                        <div class="starContainer">
                            <div class="filledStars" :style="widthPerc(p)">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="inputStars">
                                <input type="radio" :id="starIDRate(p, 5)" value="5" :name="starID(p)" :checked="check(p, 5)"><label @click="ratePok(p, 5)" class="fa fa-star-o" :for="starIDRate(p, 5)"></label>
                                <input type="radio" :id="starIDRate(p, 4)" value="4" :name="starID(p)" :checked="check(p, 4)"><label @click="ratePok(p, 4)" class="fa fa-star-o" :for="starIDRate(p, 4)"></label>
                                <input type="radio" :id="starIDRate(p, 3)" value="3" :name="starID(p)" :checked="check(p, 3)"><label @click="ratePok(p, 3)" class="fa fa-star-o" :for="starIDRate(p, 3)"></label>
                                <input type="radio" :id="starIDRate(p, 2)" value="2" :name="starID(p)" :checked="check(p, 2)"><label @click="ratePok(p, 2)" class="fa fa-star-o" :for="starIDRate(p, 2)"></label>
                                <input type="radio" :id="starIDRate(p, 1)" value="1" :name="starID(p)" :checked="check(p, 1)"><label @click="ratePok(p, 1)" class="fa fa-star-o" :for="starIDRate(p, 1)"></label>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a v-if="displayType === 'Fave'" v-for="p in bottomFiveFave" :href="dexPath(p)" data-interception="off">
                <div class="pokemon_entry" >
                    <i v-if="p.userFavorite"class="fa fa-heart"></i>
                    <div class="cardTitle">
                        <div class="pokeName">{{p.fullName}}</div>
                        <div class="pokeNumber">{{ pokemonNumber(p) }}</div>
                    </div>
                    
                    <div class="pokeImgContainer">
                        <img loading="lazy" :src="pokemonImagePath(p)" alt="images/PokemonArt/Generation 1/Bulbasaur.png" class="pokeImg">
                    </div>

                    <div class="typesContainer">
                        <div class="typeContainer"><img :src="typeImagePath(p, 0)"  class="typeImg"></div>
                        <div v-if="p.types.length == 2" class="typeContainer"><img :src="typeImagePath(p, 1)"  class="typeImg"></div>
                    </div>
                    
                    <div class="favContainer"> 
                        <i class="fa fa-heart"><span>{{abbrevNum(p.ratings[5])}}</span></i>
                    </div>
                </div>
            </a>
        </div>

        <h1>Generations</h1>
        <div class="pokemon_list">
            <div v-if="displayType == 'Rate'" v-for="n in 9" class="databox">
                <i v-if="getGen(n).statuses[0] == 1" class="fa fa-star"></i>
                <i v-if="getGen(n).statuses[0] == -1" class="fa fa-thumbs-down"></i>
                <h3>{{getGen(n).genName}}</h3>
                <div>Average rating:<br>{{abbrevNum(getGen(n).average)}}</div>
                <div>Best Pokemon:<br><a :href="dexPath(getGen(n).bestPoke)">{{getGen(n).bestPoke.fullName}}</a></div>
                <div>Worst Pokemon:<br><a :href="dexPath(getGen(n).worstPoke)">{{getGen(n).worstPoke.fullName}}</a></div>
            </div>
            <div v-if="displayType == 'Fave'" v-for="n in 9" class="databox">
                <i v-if="getGen(n).statuses[1] == 1" class="fa fa-star"></i>
                <i v-if="getGen(n).statuses[1] == -1" class="fa fa-thumbs-down"></i>
                <h3>{{getGen(n).genName}}</h3>
                <div>Total faves:<br>{{abbrevNum(getGen(n).favesum)}}</div>
                <div>Best Pokemon:<br><a :href="dexPath(getGen(n).mostFavesPoke)">{{getGen(n).mostFavesPoke.fullName}}</a></div>
                <div>Worst Pokemon:<br><a :href="dexPath(getGen(n).leastFavesPoke)">{{getGen(n).leastFavesPoke.fullName}}</a></div>
            </div>
        </div>

        <h1>Types</h1>
        <div class="pokemon_list">
            <div v-if="displayType == 'Rate'" v-for="t in types" class="databox">
                <i v-if="t.statuses[0] == 1" class="fa fa-star"></i>
                <i v-if="t.statuses[0] == -1" class="fa fa-thumbs-down"></i>
                <img :src="typeImagePathB(t.typeName)"  class="typeImg">
                <div>Average rating:<br>{{abbrevNum(t.average)}}</div>
                <div>Best Pokemon:<br><a :href="dexPath(t.bestPoke)">{{t.bestPoke.fullName}}</a></div>
                <div>Worst Pokemon:<br><a :href="dexPath(t.worstPoke)">{{t.worstPoke.fullName}}</a></div>
            </div>
            <div v-if="displayType == 'Fave'" v-for="t in types" class="databox">
                <i v-if="t.statuses[1] == 1" class="fa fa-star"></i>
                <i v-if="t.statuses[1] == -1" class="fa fa-thumbs-down"></i>
                <img :src="typeImagePathB(t.typeName)"  class="typeImg">
                <div>Total faves:<br>{{abbrevNum(t.favesum)}}</div>
                <div>Best Pokemon:<br><a :href="dexPath(t.mostFavesPoke)">{{t.mostFavesPoke.fullName}}</a></div>
                <div>Worst Pokemon:<br><a :href="dexPath(t.leastFavesPoke)">{{t.leastFavesPoke.fullName}}</a></div>
            </div>
        </div>
    </div>

    

</div>

[[block page_scripts]]
<script>
   let dexJSON = [[=XML(dexJSON)]]
   let get_rating_url = "[[=XML(get_rating_url)]]"
   let set_rating_url = "[[=XML(set_rating_url)]]"
   let get_all_ratings_url = "[[=XML(get_all_ratings_url)]]"
   let dex_url = "[[=XML(pokedex_url)]]"
</script>
<script src="js/data.js"></script>
[[end]]