[[extend 'layout.html']]

<link rel="stylesheet" href="css/pokemonEntries.css">
<link rel="stylesheet" href="css/data.css">


<div id="vue-target">
    <Transition name="notify">
        <div v-if="showNotif" class="notifs">{{ratingText}}</div>
    </Transition>

    <div id="pagetitle">
        <h1>Rankings</h1>
        <div class="tabs">
            <div :class="{ active: displayType == 'Rate' }" @click="setDisplayType('Rate')">Ratings</div>
            <div :class="{ active: displayType == 'Fave' }" @click="setDisplayType('Fave')">Favorites</div>
            <div v-if="userData" :class="{ active: displayType == 'User' }" @click="setDisplayType('User')">User</div>
            <div v-else class="no_data" >No User Data</div>
        </div>
    </div>
    

    <div v-if="displayType == 'User'">
        <h1>Favorites</h1>
        <div class="pokemon_list">
            <h2 v-if="userFavorites.length == 0">No favorites!!!</h2>
            <a v-for="p in userFavorites" :href="dexPath(p)" data-interception="off">
                <div class="pokemon_entry highlight">
                    <i v-if="p.userFavorite"class="fa fa-heart"></i>
                    <div class="cardTitle">
                        <div class="pokeName">{{p.fullName}}</div>
                        <div class="pokeNumber">{{ pokemonNumber(p) }}</div>
                    </div>
                    
                    <div class="pokeImgContainer">
                        <img loading="lazy" :src="pokemonImagePath(p)" alt="images/PokemonArt/Generation 1/Bulbasaur.png" class="pokeImg">
                    </div>

                    <div class="typesContainer">
                        <div class="typeContainer"><img :src="typeImagePath(p, 0)"  class="typeImg"></div>
                        <div v-if="p.types.length == 2" class="typeContainer"><img :src="typeImagePath(p, 1)"  class="typeImg"></div>
                    </div>
                    
                    <div class="ratingContainer">
                        <div class="ratingText">
                            <div>Rating</div>
                            <div>{{ p.globalAverage.toFixed(2) }}</div>
                        </div>
                        <div class="starContainer">
                            <div class="filledStars" :style="widthPerc(p)">
                                <i class="colinstar full"></i>
                                <i class="colinstar full"></i>
                                <i class="colinstar full"></i>
                                <i class="colinstar full"></i>
                                <i class="colinstar full"></i>
                            </div>
                            <div class="inputStars">
                                <input type="radio" :id="starIDRate(p, 5)" value="5" :name="starID(p)" :checked="check(p, 5)"><label @click="ratePok(p, 5)" class="colinstar open" :for="starIDRate(p, 5)"></label>
                                <input type="radio" :id="starIDRate(p, 4)" value="4" :name="starID(p)" :checked="check(p, 4)"><label @click="ratePok(p, 4)" class="colinstar open" :for="starIDRate(p, 4)"></label>
                                <input type="radio" :id="starIDRate(p, 3)" value="3" :name="starID(p)" :checked="check(p, 3)"><label @click="ratePok(p, 3)" class="colinstar open" :for="starIDRate(p, 3)"></label>
                                <input type="radio" :id="starIDRate(p, 2)" value="2" :name="starID(p)" :checked="check(p, 2)"><label @click="ratePok(p, 2)" class="colinstar open" :for="starIDRate(p, 2)"></label>
                                <input type="radio" :id="starIDRate(p, 1)" value="1" :name="starID(p)" :checked="check(p, 1)"><label @click="ratePok(p, 1)" class="colinstar open" :for="starIDRate(p, 1)"></label>
                            </div>
                            <div class="outlineStars">
                                <i class="colinstar open"></i>
                                <i class="colinstar open"></i>
                                <i class="colinstar open"></i>
                                <i class="colinstar open"></i>
                                <i class="colinstar open"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <h1>Generations</h1>
        <div class="pokemon_list">
            <div v-for="n in 9" class="databox">
                <div class="right-icons">
                    <i v-if="getGen(n).statuses[2] == 1" class="colinstar full"></i>
                    <i v-if="getGen(n).statuses[2] == -1" class="fa fa-thumbs-down"></i>
                </div>
                <h3>{{romanNumGen(getGen(n).genName)}}</h3>
                <div>Average rating:<br><span class="ratingNum">{{abbrevNum(getGen(n).userAve)}}</span></div>
            </div>
        </div>

        <h1>Types</h1>
        <div class="pokemon_list">
            <div v-for="t in types" class="databox">
                <div class="right-icons">
                    <i v-if="t.statuses[2] == 1" class="colinstar full"></i>
                    <i v-if="t.statuses[2] == -1" class="fa fa-thumbs-down"></i>
                </div>
                <img :src="typeImagePathB(t.typeName)"  class="typeImg">
                <div>Average rating:<br><span class="ratingNum">{{abbrevNum(t.userAve)}}</span></div>
            </div>
        </div>
    </div>
    <div v-else>
        <h1>Top 5</h1>
        <div class="pokemon_list">
            <a v-if="displayType == 'Rate'" v-for="p in topFiveRate" :href="dexPath(p)" data-interception="off">
                <div class="pokemon_entry" >
                    <i v-if="p.userFavorite"class="fa fa-heart"></i>
                    <div class="cardTitle">
                        <div class="pokeName">{{p.fullName}}</div>
                        <div class="pokeNumber">{{ pokemonNumber(p) }}</div>
                    </div>
                    
                    <div class="pokeImgContainer">
                        <img loading="lazy" :src="pokemonImagePath(p)" alt="images/PokemonArt/Generation 1/Bulbasaur.png" class="pokeImg">
                    </div>

                    <div class="typesContainer">
                        <div class="typeContainer"><img :src="typeImagePath(p, 0)"  class="typeImg"></div>
                        <div v-if="p.types.length == 2" class="typeContainer"><img :src="typeImagePath(p, 1)"  class="typeImg"></div>
                    </div>
                    
                    <div class="ratingContainer">
                        <div class="ratingText">
                            <div>Rating</div>
                            <div>{{ p.globalAverage.toFixed(2) }}</div>
                        </div>
                        <div class="starContainer">
                            <div class="filledStars" :style="widthPerc(p)">
                                <i class="colinstar full"></i>
                                <i class="colinstar full"></i>
                                <i class="colinstar full"></i>
                                <i class="colinstar full"></i>
                                <i class="colinstar full"></i>
                            </div>
                            <div class="inputStars">
                                <input type="radio" :id="starIDRate(p, 5)" value="5" :name="starID(p)" :checked="check(p, 5)"><label @click="ratePok(p, 5)" class="colinstar open" :for="starIDRate(p, 5)"></label>
                                <input type="radio" :id="starIDRate(p, 4)" value="4" :name="starID(p)" :checked="check(p, 4)"><label @click="ratePok(p, 4)" class="colinstar open" :for="starIDRate(p, 4)"></label>
                                <input type="radio" :id="starIDRate(p, 3)" value="3" :name="starID(p)" :checked="check(p, 3)"><label @click="ratePok(p, 3)" class="colinstar open" :for="starIDRate(p, 3)"></label>
                                <input type="radio" :id="starIDRate(p, 2)" value="2" :name="starID(p)" :checked="check(p, 2)"><label @click="ratePok(p, 2)" class="colinstar open" :for="starIDRate(p, 2)"></label>
                                <input type="radio" :id="starIDRate(p, 1)" value="1" :name="starID(p)" :checked="check(p, 1)"><label @click="ratePok(p, 1)" class="colinstar open" :for="starIDRate(p, 1)"></label>
                            </div>
                            <div class="outlineStars">
                                <i class="colinstar open"></i>
                                <i class="colinstar open"></i>
                                <i class="colinstar open"></i>
                                <i class="colinstar open"></i>
                                <i class="colinstar open"></i>
                              </div>
                        </div>
                    </div>
                </div>
            </a>
            <a v-if="displayType == 'Fave'" v-for="p in topFiveFave" :href="dexPath(p)" data-interception="off">
                <div class="pokemon_entry" >
                    <i v-if="p.userFavorite"class="fa fa-heart"></i>
                    <div class="cardTitle">
                        <div class="pokeName">{{p.fullName}}</div>
                        <div class="pokeNumber">{{ pokemonNumber(p) }}</div>
                    </div>
                    
                    <div class="pokeImgContainer">
                        <img loading="lazy" :src="pokemonImagePath(p)" alt="images/PokemonArt/Generation 1/Bulbasaur.png" class="pokeImg">
                    </div>

                    <div class="typesContainer">
                        <div class="typeContainer"><img :src="typeImagePath(p, 0)"  class="typeImg"></div>
                        <div v-if="p.types.length == 2" class="typeContainer"><img :src="typeImagePath(p, 1)"  class="typeImg"></div>
                    </div>
                    
                    <div class="favContainer"> 
                        <i class="fa fa-heart"></i><div>{{abbrevNum(p.ratings[5])}}</div>
                    </div>

                </div>
            </a>
        </div>
        <h1>Bottom 5</h1>
        <div class="pokemon_list">
            <a v-if="displayType == 'Rate'" v-for="p in bottomFiveRate" :href="dexPath(p)" data-interception="off">
                <div class="pokemon_entry" >
                    <i v-if="p.userFavorite"class="fa fa-heart"></i>
                    <div class="cardTitle">
                        <div class="pokeName">{{p.fullName}}</div>
                        <div class="pokeNumber">{{ pokemonNumber(p) }}</div>
                    </div>
                    
                    <div class="pokeImgContainer">
                        <img loading="lazy" :src="pokemonImagePath(p)" alt="images/PokemonArt/Generation 1/Bulbasaur.png" class="pokeImg">
                    </div>

                    <div class="typesContainer">
                        <div class="typeContainer"><img :src="typeImagePath(p, 0)"  class="typeImg"></div>
                        <div v-if="p.types.length == 2" class="typeContainer"><img :src="typeImagePath(p, 1)"  class="typeImg"></div>
                    </div>
                    
                    <div class="ratingContainer">
                        <div class="ratingText">
                            <div>Rating</div>
                            <div>{{ p.globalAverage.toFixed(2) }}</div>
                        </div>
                        <div class="starContainer">
                            <div class="filledStars" :style="widthPerc(p)">
                                <i class="colinstar full"></i>
                                <i class="colinstar full"></i>
                                <i class="colinstar full"></i>
                                <i class="colinstar full"></i>
                                <i class="colinstar full"></i>
                            </div>
                            <div class="inputStars">
                                <input type="radio" :id="starIDRate(p, 5)" value="5" :name="starID(p)" :checked="check(p, 5)"><label @click="ratePok(p, 5)" class="colinstar open" :for="starIDRate(p, 5)"></label>
                                <input type="radio" :id="starIDRate(p, 4)" value="4" :name="starID(p)" :checked="check(p, 4)"><label @click="ratePok(p, 4)" class="colinstar open" :for="starIDRate(p, 4)"></label>
                                <input type="radio" :id="starIDRate(p, 3)" value="3" :name="starID(p)" :checked="check(p, 3)"><label @click="ratePok(p, 3)" class="colinstar open" :for="starIDRate(p, 3)"></label>
                                <input type="radio" :id="starIDRate(p, 2)" value="2" :name="starID(p)" :checked="check(p, 2)"><label @click="ratePok(p, 2)" class="colinstar open" :for="starIDRate(p, 2)"></label>
                                <input type="radio" :id="starIDRate(p, 1)" value="1" :name="starID(p)" :checked="check(p, 1)"><label @click="ratePok(p, 1)" class="colinstar open" :for="starIDRate(p, 1)"></label>
                            </div>
                            <div class="outlineStars">
                                <i class="colinstar open"></i>
                                <i class="colinstar open"></i>
                                <i class="colinstar open"></i>
                                <i class="colinstar open"></i>
                                <i class="colinstar open"></i>
                              </div>
                        </div>
                    </div>
                </div>
            </a>
            <a v-if="displayType === 'Fave'" v-for="p in bottomFiveFave" :href="dexPath(p)" data-interception="off">
                <div class="pokemon_entry" >
                    <i v-if="p.userFavorite"class="fa fa-heart"></i>
                    <div class="cardTitle">
                        <div class="pokeName">{{p.fullName}}</div>
                        <div class="pokeNumber">{{ pokemonNumber(p) }}</div>
                    </div>
                    
                    <div class="pokeImgContainer">
                        <img loading="lazy" :src="pokemonImagePath(p)" alt="images/PokemonArt/Generation 1/Bulbasaur.png" class="pokeImg">
                    </div>

                    <div class="typesContainer">
                        <div class="typeContainer"><img :src="typeImagePath(p, 0)"  class="typeImg"></div>
                        <div v-if="p.types.length == 2" class="typeContainer"><img :src="typeImagePath(p, 1)"  class="typeImg"></div>
                    </div>
                    
                    <div class="favContainer"> 
                        <i class="fa fa-heart"></i><div>{{abbrevNum(p.ratings[5])}}</div>
                    </div>
                </div>
            </a>
        </div>

        <h1>Generations</h1>
        <div class="pokemon_list">
            <div v-if="displayType == 'Rate'" v-for="n in 9" class="databox" :style="genBoxShadow(n, 0)">
                <div class="right-icons">
                    <i v-if="getGen(n).statuses[0] == 1" class="colinstar full"></i>
                    <i v-if="getGen(n).statuses[0] == -1" class="fa fa-thumbs-down"></i>
                </div>
                
                <h3>{{romanNumGen(getGen(n).genName)}}</h3>
                <div>Average rating:<br><span class="ratingNum">{{abbrevNum(getGen(n).average)}}</span></div>
                <div class="subdatabox">
                    <div style="border-right: 2px solid #535353; display: grid;">
                        <div class="best">Highest Rated: <br><a :href="dexPath(getGen(n).bestPoke)"><img :src="pokemonImagePath(getGen(n).bestPoke)" class="dataPoke"></a><br>{{getGen(n).bestPoke.fullName}}</div>
                    </div>
                    <div class="best">Lowest Rated:<br><a :href="dexPath(getGen(n).worstPoke)"><img :src="pokemonImagePath(getGen(n).worstPoke)" class="dataPoke"></a><br>{{getGen(n).worstPoke.fullName}}</div>
                </div>
                
            </div>
            <div v-if="displayType == 'Fave'" v-for="n in 9" class="databox" :style="genBoxShadow(n, 1)">
                <div class="right-icons">
                    <i v-if="getGen(n).statuses[1] == 1" class="colinstar full"></i>
                    <i v-if="getGen(n).statuses[1] == -1" class="fa fa-thumbs-down"></i>
                </div>
                <h3>{{romanNumGen(getGen(n).genName)}}</h3>
                <div>Total faves:<br><span class="ratingNum">{{abbrevNum(getGen(n).favesum)}}</span></div>
                <div class="subdatabox">
                    <div style="border-right: 2px solid #535353; display: grid;">  
                        <div class="best">Most Favorites: <br><a :href="dexPath(getGen(n).mostFavesPoke)"><img :src="pokemonImagePath(getGen(n).mostFavesPoke)" class="dataPoke"></a><br>{{getGen(n).mostFavesPoke.fullName}} </div>
                    </div>
                    <div class="best">Least Favorites: <br><a :href="dexPath(getGen(n).leastFavesPoke)"><img :src="pokemonImagePath(getGen(n).leastFavesPoke)" class="dataPoke"></a><br>{{getGen(n).leastFavesPoke.fullName}}</div>
                </div>
                
            </div>
        </div>

        <h1>Types</h1>
        <div class="pokemon_list">
            <div v-if="displayType == 'Rate'" v-for="t in types" class="databox" :style="typeBoxShadow(t, 0)">
                <div class="right-icons">
                    <i v-if="t.statuses[0] == 1" class="colinstar full"></i>
                    <i v-if="t.statuses[0] == -1" class="fa fa-thumbs-down"></i>
                </div>
                <img :src="typeImagePathB(t.typeName)"  class="typeImg">
                <div>Average rating:<br><span class="ratingNum">{{abbrevNum(t.average)}}</span></div>
                <div class="subdatabox">
                    <div style="border-right: 2px solid #535353; display: grid;">  
                        <div class="best">Highest Rated: <br><a :href="dexPath(t.bestPoke)"><img :src="pokemonImagePath(t.bestPoke)" class="dataPoke"></a><br>{{t.bestPoke.fullName}}</div>
                    </div>
                    <div class="best">Lowest Rated: <br><a :href="dexPath(t.worstPoke)"><img :src="pokemonImagePath(t.worstPoke)" class="dataPoke"></a><br>{{t.worstPoke.fullName}}</div>
                </div>
                
            </div>
            <div v-if="displayType == 'Fave'" v-for="t in types" class="databox" :style="typeBoxShadow(t, 1)">
                <div class="right-icons">
                    <i v-if="t.statuses[1] == 1" class="colinstar full"></i>
                    <i v-if="t.statuses[1] == -1" class="fa fa-thumbs-down"></i>
                </div>
                <img :src="typeImagePathB(t.typeName)"  class="typeImg">
                <div>Total faves:<br><span class="ratingNum">{{abbrevNum(t.favesum)}}</span></div>
                <div class="subdatabox">
                    <div style="border-right: 2px solid #535353; display: grid;">
                        <div class="best">Most Favorites:<br><a :href="dexPath(t.mostFavesPoke)"><img :src="pokemonImagePath(t.mostFavesPoke)" class="dataPoke"></a><br>{{t.mostFavesPoke.fullName}}</div>
                    </div>
                    <div class="best">Least Favorites:<br><a :href="dexPath(t.leastFavesPoke)"><img :src="pokemonImagePath(t.leastFavesPoke)" class="dataPoke"></a><br>{{t.leastFavesPoke.fullName}}</div>
                </div>
                
            </div>
        </div>
    </div>

    

</div>

[[block page_scripts]]
<script>
   let dexJSON = [[=XML(dexJSON)]]
   let get_rating_url = "[[=XML(get_rating_url)]]"
   let set_rating_url = "[[=XML(set_rating_url)]]"
   let get_all_ratings_url = "[[=XML(get_all_ratings_url)]]"
   let dex_url = "[[=XML(pokedex_url)]]"
</script>
<script src="js/data.js"></script>
[[end]]