<!DOCTYPE html>
<html>
  <head>
    <base href="[[=URL('static')]]/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="data:image/x-icon;base64,AAABAAEAAQEAAAEAIAAwAAAAFgAAACgAAAABAAAAAgAAAAEAIAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAPAAAAAA=="/>
    <link rel="stylesheet" href="css/no.css">
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="https://use.typekit.net/hde2teg.css">
    <style>.py4web-validation-error{margin-top:-16px; font-size:0.8em;color:red}</style>
    [[block page_head]]<!-- individual pages can customize header here -->[[end]]
  </head>
  <body>
    <header>
      <!-- Navigation bar -->
      <nav class="black" style="position: fixed; top: 0; z-index: 2;">
        <!-- Logo -->
        <a href="[[=URL('home')]]">
          <b style="font-size:30px">PokeRating</b>
        </a>

        [[block page_left_menu]][[end]]

        
        
        <!-- Do not touch this -->
        <label for="hamburger">☰</label>
        <input type="checkbox" id="hamburger">
        <!-- Left menu ul/li -->
        
        <!-- Right menu ul/li -->

        <a style="border-color: green" class="tab" href="[[=URL('home')]]">
          <b>Home</b>
        </a>
        <a style="border-color: red"class="tab" href="[[=URL('pokedex')]]">
          <b>Pokedex</b>
        </a>
        <a style="border-color: blue" class="tab" href="[[=URL('rankings')]]">
          <b>Rankings</b>
        </a>
        <a style="border-color: yellow" class="tab" href="[[=URL('puzzle')]]">
          <b>Puzzle</b>
        </a>

        <ul>
          [[if globals().get('user'):]]
          <li>
            <label for="email" class="navbar-link is-primary">
              [[=globals().get('user',{}).get('email')]]
            </label>
            <input type="checkbox" id="email">
            <ul>
              <li><a href="[[=URL('auth_by_email/logout')]]">Logout</a></li>
              <li><a href="[[=XML(req_delete_url)]]">Delete My Info!</a></li>
            </ul>
          </li>
          [[else:]]
          <li>
            <a href="[[=URL('auth_by_email/login')]]">Log in</a>
          </li>
          [[pass]]
        </ul>
      </nav>
    </header>
    <!-- beginning of HTML inserted by extending template -->
    <center style="background-color: white;">
      <div class="fakeHeader">
      </div>
      <div>
        <!-- Flash alert messages, first optional one in data-alert -->
        <flash-alerts class="padded" data-alert="[[=globals().get('flash','')]]"></flash-alerts>
      </div>
      <main class="padded">
        <!-- contect injected by extending page -->
        [[include]]
      </main>
    </center>
    <!-- end of HTML inserted by extending template -->
    <footer class="black">
      <p>
        Pokémon images & names © 1995-2023 Nintendo/Game Freak.<br>Made in Py4Web. 0.9.2<br>Developed by <a href="https://colinsor.com">Colin O'Rourke</a>, designed by <a href="https://natorourke.com">Natalie O'Rourke</a>
      </p>
      <div style="margin-top: 5px; text-align: right;">
        <script type='text/javascript' src='https://storage.ko-fi.com/cdn/widget/Widget_2.js'></script><script type='text/javascript'>kofiwidget2.init('Support Me on Ko-fi', '#29abe0', 'K3K7NVT1M');kofiwidget2.draw();</script> 
      </div>
    </footer>
  </body>
  <!-- You've gotta have utils.js -->
  <script src="js/sugar.min.js"></script>
  <script src="js/axios.js"></script>
  <script src="js/vue.min.js"></script>
  <script src="js/utils.js"></script>
  [[block page_scripts]]<!-- individual pages can add scripts here -->[[end]]
</html>
