[[extend 'layout.html']]

<link rel="stylesheet" href="css/pokemonEntries.css">

<h1>All Pokemon</h1>

<div id="vue-target">

    <div v-for="c in myCategories" class="category">
        <h2>{{c.title}}</h2>
        <div class="pokemon_list">
            <div v-for="p in pokemonPerCategory[c.title]" class="pokemon_entry">
                <div class="pokeName">{{p.fullname}}</div>
                <div class="pokeNumber">{{ pokemonNumber(p) }}</div>
                <div class="pokeImgContainer">
                    <img :src="pokemonImagePath(p)" class="pokeImg">
                    <div class="typesContainer">
                        <div class="typeContainer"><img :src="typeImagePath(p, 0)"  class="typeImg"></div>
                        <div v-if="p.types.length == 2" class="typeContainer"><img :src="typeImagePath(p, 1)"  class="typeImg"></div>
                    </div>
                </div>
                
                <div class="starContainer">
                    
                </div>
            </div>
        </div>
    </div>

    <footer class="padded">
        <p>
          Extra footer
        </p>
    </footer>
</div>

[[block page_scripts]]
<script>
    let dexJSON = [[=XML(dexJSON)]]
</script>
<script src="js/index.js"></script>
[[end]]