[[extend 'layout.html']]

<link rel="stylesheet" href="css/puzzle.css">
<link rel="stylesheet" href="css/pokemonEntries.css">



<div id="vue-target">
    <div v-if="showModal" class="modalBG">
        <div class="modalContent">
            <i class="fa fa-times" @click="showModal = false"></i>
            <h1>Info</h1>
            <p>
                This is a daily Pokemon Puzzle inspired by Wordle!
            </p>
            <p>
                You have 6 Guesses to figure out each day's pokemon! 
            </p>
            <p>
                For each guess we'll tell you:
            </p>
            <ul>
                <li>If the mystery pokemon starts with the same letter, or if it comes earlier/later in the alphabet</li>
                <li>If the mystery pokemon comes from the same generation, or an earlier/later one.</li>
                <li>If the mystery pokemon has any of the same types. (Single type pokemon are counted as having "None" as a secondary type)</li>
                <li>If the mystery pokemon has a higher, lower, or the same Base Stat Total</li>
                <li>If the mystery pokemon is rated higher or lower than your guess</li>
            </ul>
            <p>Good luck!</p>
        </div>  
    </div>

    <h1>Guess todays pokemon! <i class="fa fa-question-circle" @click="showModal = true"></i></h1>
    
    <div class="puzzle_display">
        <div>
            Your Guess
            <div v-if="noGuess == true" class="pokemon_entry">
                <div class="cardTitle">
                    <div class="pokeName">Guess</div>
                    <div class="pokeNumber">#9999</div>
                </div>
                
                <div class="pokeImgContainer">
                    <img src="images/PokemonArt/unown-question.png" class="unown_img" color="black">
                </div>

                <div class="typesContainer">
                    <div class="typeContainer"><img src="images/Types/unknown.png" class="typeImg"></div>
                    <div class="typeContainer"><img src="images/Types/unknown.png"  class="typeImg"></div>
                </div>
                
                <div class="ratingText">
                    <div>BST</div>
                    <div>???</div>
                </div>

                <div class="ratingContainer">
                    <div class="ratingText">
                        <div>Rating</div>
                        <div>???</div>
                    </div>
                    <div class="starContainer">
                        <div class="filledStars" style="width: 50%">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div v-else class="pokemon_entry">
                <div class="cardTitle">
                    <div class="pokeName">{{mostRecentGuess.fullName}}</div>
                    <div class="pokeNumber">{{ pokemonNumber(mostRecentGuess) }}</div>
                </div>
                
                <div class="pokeImgContainer">
                    <img loading="lazy" :src="pokemonImagePath(mostRecentGuess)" alt="images/PokemonArt/Generation 1/Bulbasaur.png" class="pokeImg">
                </div>

                <div class="typesContainer">
                    <div class="typeContainer"><img :src="typeImagePath(mostRecentGuess, 0)"  class="typeImg"></div>
                    <div v-if="mostRecentGuess.types.length == 2" class="typeContainer"><img :src="typeImagePath(mostRecentGuess, 1)"  class="typeImg"></div>
                </div>
                
                <div class="ratingText">
                    <div>BST</div>
                    <div>{{ mostRecentGuess.bst }}</div>
                </div>

                <div class="ratingContainer">
                    <div class="ratingText">
                        <div>Rating</div>
                        <div>{{ mostRecentGuess.globalAverage.toFixed(2) }}</div>
                    </div>
                    <div class="starContainer">
                        <div class="filledStars" :style="widthPerc(mostRecentGuess)">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div>
            Today's Pokemon
            <div v-if="solved == false && myGuesses.length < 6" class="pokemon_entry">
                <div class="cardTitle">
                    <div class="pokeName">Mystery</div>
                    <div class="pokeNumber">#9999</div>
                </div>
                
                <div class="pokeImgContainer">
                    <img src="images/PokemonArt/unown-question.png" class="unown_img" color="black">
                </div>

                <div class="typesContainer">
                    <div class="typeContainer"><img src="images/Types/unknown.png" class="typeImg"></div>
                    <div class="typeContainer"><img src="images/Types/unknown.png"  class="typeImg"></div>
                </div>
                
                <div class="ratingText">
                    <div>BST</div>
                    <div>???</div>
                </div>

                <div class="ratingContainer">
                    <div class="ratingText">
                        <div>Rating</div>
                        <div>???</div>
                    </div>
                    <div class="starContainer">
                        <div class="filledStars" style="width: 50%">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div v-else class="pokemon_entry">
                <div class="cardTitle">
                    <div class="pokeName">{{targetPokemon.fullName}}</div>
                    <div class="pokeNumber">{{ pokemonNumber(targetPokemon) }}</div>
                </div>
                
                <div class="pokeImgContainer">
                    <img loading="lazy" :src="pokemonImagePath(targetPokemon)" alt="images/PokemonArt/Generation 1/Bulbasaur.png" class="pokeImg">
                </div>

                <div class="typesContainer">
                    <div class="typeContainer"><img :src="typeImagePath(targetPokemon, 0)"  class="typeImg"></div>
                    <div v-if="targetPokemon.types.length == 2" class="typeContainer"><img :src="typeImagePath(targetPokemon, 1)"  class="typeImg"></div>
                </div>
                
                <div class="ratingText">
                    <div>BST</div>
                    <div>{{ mostRecentGuess.bst }}</div>
                </div>

                <div class="ratingContainer">
                    <div class="ratingText">
                        <div>Rating</div>
                        <div>{{ targetPokemon.globalAverage.toFixed(2) }}</div>
                    </div>
                    <div class="starContainer">
                        <div class="filledStars" :style="widthPerc(targetPokemon)">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="data-table">
        <div class="data-header">
            <div style="font-size: 18px">Pokemon</div>
            <div>Alphabet</div>
            <div>Gen</div>
            <div>Type1</div>
            <div>Type2</div>
            <div>BST</div>
            <div>Rating</div>
        </div>
        <div class="data-row" v-for="p in myGuesses">
            <div>{{p.name}}</div>
            <div><i :class="checkAlph(p)"></i></div>
            <div><i :class="checkGen(p)"></i></div>
            <div><i :class="checkTypePrim(p)"></i></div>
            <div><i :class="checkTypeSecond(p)"></i></div>
            <div><i :class="checkBST(p)"></i></div>
            <div><i :class="checkRate(p)"></i></div>
        </div>
    </div>

    <div class="guessBox" v-if="myGuesses.length < 6 && !solved">
        <div class="autocomplete">
            <input v-model="query" @input="onchange" type="text">
            <ul class="autocomplete_results">
                <li class="autocomplete_result" v-for="p in acSuggestions" @click="acFill(p)">{{p.name}}</li>
            </ul>
        </div>
        <input type="button" @click="submitGuess()" value="Guess">
    </div>
    

</div>

[[block page_scripts]]
<script>
   let dexJSON = [[=XML(dexJSON)]];
   let targetPokemon = [[=XML(myTargetPokemon)]]
   let get_rating_url = "[[=XML(get_rating_url)]]"
   let dex_url = "[[=XML(pokedex_url)]]"
</script>
<script src="js/puzzle.js"></script>
[[end]]